
.evento-flujo{
   padding: 2rem;
    font-size: 2rem;
    text-align: center;
   
}

.uno{
    background-color: aqua;
    
}

.dos {
    background-color: gold;
}



.tres{
    background-color: orangered;
}





